body{
  background-image: url(brushed/brushed-metal-background-1514.png);
  font-family: 'Abril Fatface', cursive;
}
body h1, h2, h3{
  color: #2A2C2B;
  text-align: center;
}

h1{
  font-size: 64px;

}

ul{
  margin: 0;
  padding: 0;
  text-align: center;
}

#gridCanvas{
  display: inline-block;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

li{
  margin:0;
  padding:0;
}

li{
  width:2em;
  height:2em;
  font-size:40px;
  line-height: 1.75em;
  margin-left:.25em;
  margin-bottom:.25em;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 25%, rgba(0,0,0,0) 38%, rgba(0,0,0,0.65) 88%, rgba(0,0,0,0.65) 99%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,rgba(0,0,0,0)), color-stop(38%,rgba(0,0,0,0)), color-stop(88%,rgba(0,0,0,0.65)), color-stop(99%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 25%,rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 88%,rgba(0,0,0,0.65) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 25%,rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 88%,rgba(0,0,0,0.65) 99%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 25%,rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 88%,rgba(0,0,0,0.65) 99%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 25%,rgba(0,0,0,0) 38%,rgba(0,0,0,0.65) 88%,rgba(0,0,0,0.65) 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.square {
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-weight:bold;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e;
  padding-top:6px;
  left:30px;
  position:relative;
  cursor:pointer;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}

.square:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

li:focus{
  outline: none;
}

.round {
  cursor: pointer;
  background: #25292C;
  margin: 0px auto;
  text-align: center;
  border-radius: 999px;
  color: rgba(155,155,155,1);
  text-shadow: -1px -1px 0px rgba(255,255,255,0.8), 1px 1px 2px rgba(0,0,0,1);
  font-family: sans-serif;
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(255,255,255,0.1),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(0,0,0,0.2),
              1px 5px 30px -4px rgba(0,0,0,1);
  -webkit-transition: 0.1s ease-out;
  -moz-transition:    0.1s ease-out;
  -o-transition:      0.1s ease-out;
  transition:         0.1s ease-out;
}

.round:active {
  color: rgba(0,0,0,0.7);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1);
}